.tabpanel {
  background-color: #f9f9f9;
}

.tabs {
  width: 100%;
  display: flex;
  padding-top: 31px;
  background-color: #fff;
  .tab_title {
    font-size: 16px !important;
    font-weight: 700 !important;
    flex: 1;
  }
}

.tab_content {
  margin-top: 16px;
  .tab_content_title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
  }

  .tab_content_time {
    font-size: 14px;
    font-weight: 500;
    color: #9f9f9f;
  }

  .add_task_btn {
    background-color: #0760fb1a;
    color: #0760fb;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 10px;
  }
}

.status_tabs {
  margin: 40px 0;
  .status_tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    .status_tab_title {
      font-size: 14px;
      font-weight: 400;
      color: #9f9f9f;
    }
    .status_tab_badge {
      padding: 3px 7px;
      background-color: #d9d9d9;
      color: #fff;
      font-size: 10px;
      font-weight: 500;
      border-radius: 50%;
      margin-left: 5px;
    }
    .status_tab_badge.active {
      padding: 3px 5px;
      background-color: #0760fb;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      border-radius: 50%;
      margin-left: 5px;
    }
    .status_tab_title.active {
      font-size: 14px;
      font-weight: 600;
      color: #0760fb !important;
    }
  }
}

.status_tab_first {
  padding: 0 15px 0 0 !important;
  border-right: 1px solid #9f9f9f;
}

.todo_card {
  .todo_card_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    .todo_card_content_head {
      display: flex;
      flex-direction: column;
      .todo_card_title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
      }
      .todo_card_desc {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 500;
        color: #9f9f9f;
      }
    }
  }
  .todo_card_content_footer {
    margin-top: 16px;
    display: flex;
    align-items: center;
    .todo_card_task_day {
      color: #9f9f9f;
      font-weight: 500;
      font-size: 12px;
      margin-right: 10px;
    }
    .todo_card_task_datetime {
      color: #bfbfbf;
      font-weight: 500;
      font-size: 12px;
    }
  }
}
